

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 1.5vh;
    width: 80vw;
    margin-top: 3vh;
}

.card {
    padding-bottom: 2rem;
    background-color: #fff;
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}

.new-logo {
    float: right;
    background-color: #ff6852;
    color: #fff;
    padding: 5px 5px;
    border-radius: 6px;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.date {
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.pic {
    background: url(Rectangle\ 3.png) lightgray 0.974px -84.468px / 100% 172.697% no-repeat;
    width: 100%;
    height: 40%;
    flex-shrink: 0;
    margin-top: 0%;
    padding: 3vw;
}

.lakes {
    padding-left: 3vw;
}

